.navbar {
    background-color: #212226;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.nav_logo {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;  
    padding: 10px;
}

.logo_figure {
    width: 60px;
}

.logo_text {
    line-height: 67px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 21px;
    height: 60px;
    letter-spacing: .03em;
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #fff;
}

.nav_links {
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nav_item {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 60px;
    letter-spacing: .06em;
    transition: color .3s ease 0s;
    will-change: color;
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    cursor: pointer;
}

.nav_link__right {
    text-decoration: none;
	outline: 0;
    z-index: 20;
    font-family: Roboto;
    line-height: 15px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .04em;
    text-transform: uppercase;
    text-align: left;
    padding: 4px 20px;
    border-radius: 110px;
    transition: all .2s ease 0s;
    color: #212326;
    background: #ffed26;
    box-sizing: inherit;
    margin-right: 20px;
    display: flex;
    align-items: center;
    height: 30px;
}

.nav_items {
    display: flex;
    flex-direction: row;

}

.nav_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_button {
    width: 60px;    
    height: 60px;   
    z-index: 20;
    border-left: 1px solid #38393c;
    display: flex; 
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #212226;
}